body {
    font-family: 'Roboto', sans-serif bold;
}
.swiper {
    font-family: 'Raleway', sans-serif ;

    width: 100%;
    height: 850px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
  }
  
  .swiper .nav {
    color: #ffffff;
  }